@tailwind base;
@tailwind components;
@tailwind utilities;

.fc th {
  border-right: none;
}

.fc-list {
  background-color: white;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .fc-toolbar-chunk:not(:first-child) {
    display: none;
  }
}
.fc-list-table {
  background-color: rgb(255, 250, 223);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.fc-scroller {
  border-radius: 20px;
  background-color: white;
}

.fc-scrollgrid {
  border-radius: 20px;
  background-color: white;
  border: none;
}

.fc .fc-button {
  text-transform: capitalize;
}

.fc-daygrid-day-number {
  color: #334954;
}

.fc-toolbar-title {
  color: white;
}

.fc-col-header-cell-cushion {
  color: #152238;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: rgb(228, 232, 232);
  border-radius: 0;
}

.fc td:last-child {
  border-right: none;
  border-bottom: none;
}
.fc .fc-daygrid-day-top {
  flex-direction: row;
}

.fc-scroller::-webkit-scrollbar {
  background: transparent;
}

.fc-scroller::-webkit-scrollbar-track {
  background: transparent;
}

.fc-scroller::-webkit-scrollbar-thumb {
  background: transparent;
  display: none;
}

/*.fc-scroller {
  overflow-y: hidden !important; 
}*/

.fc-event-title {
  font-size: x-small;
}

.fade-in {
  transition: opacity 2s ease;
  color: white;
  text-transform: capitalize;
}

.fade-out {
  opacity: 0;
  transition: opacity 2s ease;
  color: white;
  text-transform: capitalize;
}

input[type="file"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.list-overflow {
  overflow: auto;
}