@tailwind base;
@tailwind components;
@tailwind utilities;

.fc-theme-standard td {
  border: 1px solid #b7d91e !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.fc-daygrid-day-frame {
  background-color: white;
}

.fc-scroller-harness {
  border-radius: 20px;
}

.fc-scrollgrid-sync-inner {
  background-color: white;
}
.fc-toolbar-title {
  color: white;
 }

.fc-scrollgrid {
  background-color: white;
  border-radius: 20px;
}

.fc-daygrid-day-frame {
  border-radius: 20px;
}
.fc-scroller {
  overflow-y: hidden !important;
 }

@media (max-width:768px){
.fc-toolbar-chunk:not(:first-child){
  display: none;
}
}

